{# empty Twig template #}

{% set params = { 'user_id': document.user.id, 'fetch_medium': true, 'fetch_advanced': true } %}
{% set subscriber = callFunction( "Subscriptions.Subscriptions.Code.Classes.Subscriber", 'getSubscriber', params ) %}


<table class="table table-condensed">
    <tr>
        <th>Money In:</th>
        <td style="text-align: right">{{ subscriber.money_in }}</td>
    </tr>
    <tr>
        <th>Money Out:</th>
        <td style="text-align: right">({{ subscriber.money_out }})</td>
    </tr>
    <tr>
        <th>Money Total:</th>
        <td style="text-align: right">{{ subscriber.money_in -  subscriber.money_out }}</td>
    </tr>
</table>

